<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
</head>
<body>
<h1>Weather API</h1>
<p>Example URL : http://127.0.0.1:5002/api/v1/station/date </p>
<p>Example Format to get data from one station on specific date : http://127.0.0.1:5002/api/v1/10/2001-10-11</p>
<p>Example Format to get all data from one station : http://127.0.0.1:5002/api/v1/10</p>
<p>Example Format to get all data from one station in the specific year : http://127.0.0.1:5002/api/v1/yearly/1/10</p>


<p>{{data|safe}}</p>
</body>
</html>